<%- include('partials/header') -%>

<button class="btn btn-outline"><a class="nav-link" href="/admin">Admin</a></button>

  <div class="container">
    <div class="row gallery">
      <% posts.forEach((value)=>{ %>

        <div class="card col-md-4" style="padding: 5px 10px;">
          <img class="card-img-top img-size" src="uploads/<%= value.Image %>" alt="Card image cap">
          <div class="card-body">
            
            <h5 class="card-title">
              Title : <%= value.Title %>
            </h5>
            <p class="card-title">Category : <%=value.Category %></p>
            <a href="/photo/<%=value.id%>" class="btn btn-outline-secondary  btn-block">View </a>
          </div>
        </div>

        <% }) %>
    </div>
  </div>
  <%- include('partials/footer') -%>